<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body >

<div>
    <div layout="row">
        <div class="form-group" >
            <label class="col-xs-3 control-label" ng-if="profil==='admin'">Data del event</label>
            <div class="col-xs-5">
                <input type="text" ng-model="date2" class="form-control" id="date2" ng-change="dateAdv()" />
            </div>
        </div>

        <md-input-container ng-if="profil==='admin'">
            <md-select ng-model="category" placeholder="Elige la categoria">
                <md-option ng-value="c.title" ng-click="categoryAdv(c)" ng-repeat="c in classes">{{c.title}}</md-option>
            </md-select>
        </md-input-container>

        <button style="height: 40px" class="btn btn-outline-primary" ng-if="boton&&profil==='admin'" ng-click="resetAdv()">Mostrar tots els events</button>
    </div>
    <div ng-if="profil==='admin'">
    <div class="grid" >
        <div class="row">
            <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="txthover">
                    <img src="../img/advs/{{adv.sport}}.png" height="389" width="400">
                    <div class="txtcontent" >
                        <div class="simpletxt">
                            <h3>{{adv.sport}}   {{adv.category}}    {{adv.round}}</h3>
                            <p ng-if="adv.team1!=null">{{adv.team1}} vs  {{adv.team2}}</p>
                            <p ng-if="adv.winner!=null ">Guanyador: {{adv.winner}}</p>
                            <p>{{adv.date}}   {{adv.time}}</p>
                            <p>{{adv.location}} </p>
                            <p>PG : {{adv.points}}  PP : {{adv.points2}} </p>
                            <button ng-click="getAdv(adv)">Detall</button><br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
</body>
